node_modules/
.next/
.netlify/
android-sdk/
releases/
*.keystore
*.jks
packages/monm-android/android/keystore.properties
frontend/.netlify/
.env
*.log
db/*.db
uploads/*
tmp/*
!uploads/.gitkeep
!tmp/.gitkeep
